.container {
  width: 562px;
  margin: auto;
}

h1 {
  color: #F05F5D;
  text-align: center;
  font-size: 56px;
}

body {
  background-color: #F0F1F4;
}

.rest-of-phrase {
  color: #1E1F22;
}

div.form {
    display: block;
    text-align: center;
}

input, label {
  display:block;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  width: 451px;
  height: 491px;
  border-radius: 24px;
  padding: 24px;
}

.images {
  display: flex;
  justify-content: space-evenly;
  padding-top: 53px;
}

.input {
  justify-content: center;
  margin-bottom: 10px;
  width: 387px;
  height: 44px;
  flex-grow: 1;
}

.btn {
  width: 387px;
  height: 54px;
  font-size: 16px;
  background-color: #F05F5D;
  border: none;
  border-radius: 12px;
}
