.container {
  width: 562px;
  margin: auto;
}

h1 {
  color: #F05F5D;
  text-align: center;
  font-size: 56px;
}

body {
  background-color: #F0F1F4;
}

.rest-of-phrase {
  color: #1E1F22;
}

div.form {
    display: block;
    text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  width: 451px;
  height: 491px;
  border-radius: 24px;
}

.images {
  display: flex;
  justify-content: space-around;
}
